* {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  margin:0;
  padding:0px;
  overflow:hidden;
}
a {
  cursor: pointer;
}
instance {
  display: block;
  position: relative;
  border: solid 2px green;
  padding: 5px;
  margin: 0px;
  padding-left: 2;
  padding-right: 2;
  width: 100%;
  overflow-y: auto;
}
#loginform {
  display: none;
  position: absolute;
}
lexeme {
  display: block;
  cursor: pointer;
}
lexeme.hover {
  font-weight: bold;
}
.joy{
  fill:#edc500;
  background-color:#edc500;
} 
.trust{
  fill:#7abd0d;
  background-color:#7abd0d;
}
.fear{
  fill:#007b33;
  background-color:#007b33;
}
.surprise{
  fill:#0080ab;
  background-color:#0080ab;
}
.sadness{
  fill:#1f6dad;
  background-color:#1f6dad;
}
.disgust{
  fill:#7b4ea3;
  background-color:#7b4ea3;
}
.anger{
  fill:#dc0047;
  background-color:#dc0047;
}
.anticipation{
  fill:#e87200;
  background-color:#e87200;
}
lexeme > lang {
  display: none;
}
lexeme > ignore {
  display: none;
}
lexeme > emotion {
  display: none;
}
#loadingSpinner {
  position: absolute;
  display: none;
}
#errorLoadingMessage {
  display: none;
  position: absolute;
  /*z-index: 0;*/ 
}
.emotional-text {
  width: 100%;
  height: 50%;
}
emotional_text {
  display: block;
}
